body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
}

.score {
    display: flex;
    justify-content: center;

    span {
        min-width: 2rem;
        text-align: center;
        padding: .5rem 1rem;
        color: white;
        font-family: monospace;
        font-size: 1.2rem;
    }

    .good {
        border-radius: .5rem 0 0 .5rem;
        background: hsl(94, 98%, 40%);
        border-right: 4px dotted black;
    }

    .bad {
        border-radius: 0 .5rem .5rem 0;
        background: hsl(0, 100%, 65%);
        border-left: 4px dotted black;
    }
}

#flag-quiz {
    width: 30%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

img {
    height: fit-content;
    place-self: center;
    border-radius: 1rem;
    max-width: 100%;
    max-height: 300px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.choices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.choices hr {
    color: rgba(0, 0, 0, 0.2);
    width: 33%;
    transition: all .2s;
}

.choices #choice-next {
    &:disabled {
        color: rgba(0, 0, 0, 0.2);
    }
}

.choices button {
    padding: .5rem 2rem;
    background: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    transition: all .2s;

    &:not(:disabled, .correct, .wrong) {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
            background: rgb(245, 245, 245);
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
        }
    }

    &.correct {
        background: hsl(94, 98%, 40%);
        color: white;
    }

    &.wrong {
        background: hsl(0, 100%, 65%);
        color: white;
    }
}

@media screen and (max-width: 800px) {
    #flag-quiz {
        width: 90%;
        max-width: 90vw;
    }

    .flag-container {
        height: 200px;

        img {
            max-height: 200px;
        }
    }
}